resources/odd/balbin.odd

<?teipublisher output="web print"?>
<TEI xmlns="http://www.tei-c.org/ns/1.0" xmlns:pb="http://teipublisher.com/1.0" xml:lang="en">
    <teiHeader>
        <fileDesc>
            <titleStmt>
                <title>Bohuslav Balbín, Miscellanea</title>
            </titleStmt>
            <publicationStmt>
                <publisher>e-editiones</publisher>
                <availability>
                    <licence target="https://www.gnu.org/licenses/gpl-3.0.en.html">Distributed under GNU General Public License</licence>
                    <p>Copyright 2017 <ref target="https://e-editiones.org">e-editiones.org</ref></p>
                    <p>This program is free software: you can redistribute it and/or modify
                        it under the terms of the GNU General Public License as published by
                        the Free Software Foundation, either version 3 of the License, or
                        (at your option) any later version.</p>
                    <p>This program is distributed in the hope that it will be useful,
                        but WITHOUT ANY WARRANTY; without even the implied warranty of
                        MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
                        GNU General Public License for more details.</p>
                </availability>
            </publicationStmt>
            <sourceDesc>
                <p>Generated by <ref target="http://tei-publisher.org">TEI Publisher</ref></p>
                <p>born digital</p>
            </sourceDesc>
        </fileDesc>
        <encodingDesc>
        <tagsDecl>
                <rendition source="balbin.css"/>
            </tagsDecl>
        </encodingDesc>
        <revisionDesc>
            <change when="2025-12-06T13:52:08.617Z">Initial version</change>
        </revisionDesc>
    </teiHeader>
    <text>
        <body>
            <schemaSpec start="TEI teiCorpus" ident="balbin" source="teipublisher.odd">
                
                <elementSpec ident="persName" mode="change">
                    <model output="fo" behaviour="inline"/>
                    <model output="print" behaviour="inline"/>
                    <model predicate="@key or @ref and $parameters?mode='register-details'" behaviour="link">
                        <param name="uri" value="head((@key, @ref))"/>
                        <param name="target" value="'_blank'"/>
                    </model>
                    <model predicate="$parameters?display='browse' or $parameters?mode='breadcrumb' or $parameters?mode='toc'" behaviour="inline"/>
                    <model predicate="$parameters?mode='register'" behaviour="pass-through">
                        <desc>Register sidebar</desc>
                        <param name="content" value="."/>
                        <param name="alternate" value="parent::person/note"/>
                        <param name="uri" value="$parameters?context-path || '/people/' || parent::person/@xml:id"/>
                        <pb:template xmlns="" xml:space="preserve"><a href="[[uri]]" class="persName">
                        <pb-popover>
                            <span slot="default">[[content]]</span>
                            <template slot="alternate">[[alternate]]</template>
                        </pb-popover>
                        </a></pb:template>
                    </model>
                    <model predicate="$parameters?mode='register-overview'" behaviour="inline">
                        <desc>When filtering/browsing the register, persons mentioned in
                            descriptions, etc. are inlined</desc>
                    </model>
                    <model predicate="@type='variant'" behaviour="inline" cssClass="name variant"/>
                    <model predicate="parent::person" behaviour="inline"/>
                    <model predicate="ancestor::correspContext" behaviour="inline">
                        <desc>do not resolve correspContext descriptions</desc>
                    </model>
                    <model predicate="@key or @ref" behaviour="alternate" cssClass="persName context">
                        <param name="default" value="."/>
                        <param name="alternate" value="let $key:= head((@key, @ref))                          let $resolved := id($key, collection($global:register-root)/id('pb-persons')) return if (count($resolved)) then $resolved else $key"/>
                    </model>
                    <model predicate="@type='noble'" behaviour="inline" cssClass="noble"/>
                    <model behaviour="inline"/>
                </elementSpec>
            </schemaSpec>
        </body>
    </text>
</TEI>